@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Space+Grotesk:wght@300;400;600&display=swap');
html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(170, 161, 169);

  --bgHeader: rgb(39, 39, 42);
  --pink: rgb(251, 182, 224);
  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(103, 6, 142);
  --subtitle: rgb(9, 9, 155);

  --bgHeader: rgb(253, 253, 253);
  --pink: rgb(251, 182, 224);
  --icon-hover: #333;
}

body {
  background-color: var(--primary);
  color: var(--title);
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 var(--container-padding);
}

.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.border {
  border: 2px solid red;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 1000px) {
  .container {
    --container-padding: 1.7rem;
    width: 90%;
    padding: 0 var(--container-padding);
  }

  .divider {
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox Scrollbar */
html {
  scrollbar-color: #9e4673 #3d4a59;
}

/* Scroll to Top Button */
.scroll2Top {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.25rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.scroll2Top:hover {
  background-color: rgb(25, 118, 210);
}

@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 var(--container-padding);
  }

  .scroll2Top {
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0.6;
    font-size: 1rem;
  }
  
}
